<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="container">
      <div class="header-left">
        <h1>投票しか勝たん</h1>
      </div>
      <div class="header-right">
        <p>プロフィール</p>
        <p>About</p>
        <p>Contact Us</p>
        <p>ログインorログアウト</p>
      </div>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
